<script src="js/validations.js"></script>
<meta charset="utf-8">

<<style>
body{
    background-image: url("http://noticias.riu.edu.ar/uploads/2014/07/global-communication-background003.jpg");

}
</style>
 <center><form><h3 style="font-size: 40px">Please login</h3><br>
<h3 style="color:blue" >Username:</h3>
<input type="text"  name="username" ng-model="username"/><br>
  <h3 style="color:blue">Password:</h3>
<input type="password"  name="password"  ng-model="password"/><br><br>
 <button class="submit" ng-click="login()">Login</button>   
    </form></center>
  </div>
</div>
